.list-todo-container {
    button {
        cursor: pointer;
    }

    .list-todo-content {
        width: 400px;
        margin: 0 auto;
        text-align: left;

        .todo-child {
            &:first-child {
                border-top: 1px solid grey;
            }

            margin: 5px 0px;
            border-bottom: 1px solid grey;
            line-height: 49.5px;
            display: flex;
            justify-content: space-between;
        }

        justify-content: space-between;
        align-items: center;

        button {
            margin: 0px 5px;
        }

    }
}